<p>Category</p>
<div class="row">
    <div class="col-md-4">
        <button routerLink ='/category/displaycategory' class="btn btn-warning btn-block"> Show Category</button>
                  
    </div>
    <div class="col-md-4">
        <button routerLink ="/category/searchcategory" class="btn btn-warning btn btn-block ">Find Category</button>
    </div>
    <div class="col-md-4">
        <button routerLink="/category/addcategory" class="btn btn-warning btn btn-block ">Add Category</button>
    </div>
</div>


<router-outlet></router-outlet>