
<br>
 
<div class="container">
    <div class="jumbotron">
      <div class="row">
        <div class="col-md-12">
        <h1 class = "text-center" > Product Catalog</h1>
        </div>
 
    </div>      
  </div>
  <hr/>
  <h2 class="text-center">Rohit kumar Pandey</h2>
  <h2 class="text-center">Associate Software Engineer Trainee</h2>
  <hr/>
  <div class="row">
  <div class="col-md-6">
    <br>
    <h1 class=" text-dark">Index</h1>
    <ol>
        
        <li> <a routerLink = "/category">Categories</a> </li>
        <li> <a routerLink = "/product">Product</a> </li>
        
    </ol>
</div>
 
</div>


