<p>Products</p>

<div class="row">
    <div class="col-md-4">
        <button routerLink ="/product/displayproduct" class="btn btn-warning btn-block">Show Product</button>
                  
    </div>
    <div class="col-md-4">
        <button routerLink ="/product/searchproduct" class="btn btn-warning btn btn-block ">Find Product</button>
    </div>
    <div class="col-md-4">
        <button routerLink="/product/addproduct" class="btn btn-warning btn btn-block ">Add Product</button>
    </div>
</div>


<router-outlet></router-outlet>